.needs__title{
    font-size: 56px;
}

.needs__text{
    color: #475569;
}

.needs__silka{
    margin: 24px 0px 0px 0px;
    color: #2563EB;
    cursor: pointer;
}

.needs-strelka{
    margin-top: 3px;
    margin-left: 4px;
}


.needs__content {
    display: flex;
    margin-top: 80px;
}













@media (max-width: 768px) {
  .needs__content {
    flex-direction: column;
    text-align: center;
  }

  .needs_left {
    order: 2;
  }

  .needs_right {
    order: 1;
  }

  .needs-foto {
    max-width: 80%;
    margin: 0 auto;
  }

  .needs__title {
    font-size: 24px;
  }

  .needs__text {
    font-size: 14px;
  }

  .needs__silka {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}