.needs__title{
   margin: 160px 0px 0px 90px;
    font-size: 56px;
}

.needs__text{
    color: #475569;
    margin: 24px 0px 0px 90px;
}

.needs__silka{
    margin-left: 90px;
    margin-top: 24px;
    color: #2563EB;
    cursor: pointer;
}

.needs-strelka{
    margin-top: 3px;
    margin-left: 16px;
}


.needs__content {
    display: flex;
}


.needs-foto{
    margin-left: 128px;
    margin-top: 50px;
}

.needs__inner{
    margin-left: 200px;
}










