.tempus_left{
   
}

.tempus__content{
    display: flex;
    align-items: center;
    gap: 80px;
    font-size: 56px;
    flex-direction: column;
}

.tempus-text{
    font-size: 15px;
    margin-top: 24px;
    color: #475569;
}

.tempus-silka{
    font-size: 16px;
    margin-top: 24px;
    color: #2563EB;
    cursor: pointer;
}

.tempus-strelka{
    margin-left: 4px;
}

.tempus__inner{
   margin-top: 80px;
   text-align: center;
   align-items: center;
}





