.btn {
    background-color: #2563EB;
    margin-left: 7px;
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
}


.btn-three {
    font-size: 15px;
    background-color: #2563EB;
    margin-left: 7px;
    color: aliceblue;
    border-radius: 10px;
    padding: 15px 30px;
    width: 100%;
}

.team_form {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 24px;

}

.email_input {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 14px 16px;
    width: 100%;
}

.email_input input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    width: 100%;
}